ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

input {
    padding: 5px;
    border-radius: 4px;
    width: 700px;
    background-color: transparent;
    color: white;
}

input::placeholder {
    color: white;
}

button {
    padding: 10px;
    border: none;
    background-color: transparent;
    color: white;
    transition: all 200ms ease-in-out;
}

button:hover {
    cursor: pointer;
    font-weight: bold;
}
footer {
    font-size: 15px;
    font-family: PT mono;
    text-align: center;
    padding: 10px;
    color: rgb(36, 35, 60, 0.4);

}
.container {
    font-family: Roboto, san-serif;
    font-size: 25px;
}

.card-image {
    height: 600px;
}

.search-container {
    background-color: rgb(36, 35, 60, 0.4);
    border-radius: 4px;
    color: white;
    width: 990px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-top: 20px;
}
#get-location-button {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    color: #ffff;
    background-color: rgb(36, 35, 60, 0.4);
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 20px;
    transition: all 200ms ease-in-out;
}

.night-temperature {
    color: rgba(255, 255, 255, 0.7);
}
.search-engine {
    margin: 20px;
    text-align: center;
    border-radius: 4px;
}
.current-temperature {
    font-size: 40px;
    text-align: center;
}
.units {
    position: absolute;
    font-size: 20px;
    top: 256px;
    left: -75px;
}
.units .active {
    color:#ffff;
    cursor: default;
    text-decoration: none;
}
.units .active:hover {
text-decoration: none;
}
.current-day {
    font-size: smaller;
}
#icon {
    position: relative;
    left: 20px;
    top: -20px;
}
.weekly-forcast-container {
    text-align: center;
}

.main-container {
    background-color: rgb(36, 35, 60, 0.4);
    border-radius: 4px;
    color: white;
    width: 990px;
    padding: 25px 25px;
    margin-left: 40px;
    text-align: center;
}

.parameters {
    text-align: center;
    font-size: smaller;
}
.parameters:first-letter {
    text-transform: capitalize;
}

.weather-forecast-date {
    background-color: rgb(36, 35, 60, 0.4);
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 4px;
}

